@import "tailwindcss";

@font-face {
  font-family: 'lexiel_art';
  src: url('/fonts/Handwriting-Regular.ttf');
}

@font-face {
  font-family: 'intrepid-reg';
  src: url('/fonts/intrepid.ttf');
}

body {
  background-color: #492542;
}

.circle {
  border-radius: 50%;
}

.avatar{
  margin: auto;
  transform: translateX(10px);
}
