@import "tailwindcss";

@font-face {
  font-family: 'lexiel_art';
  src: url('/fonts/Handwriting-Regular.ttf') format('truetype'),
      url('/fonts/Handwriting-Regular.eot'),
      url('/fonts/Handwriting-Regular.svg') format('svg');
}

@font-face {
  font-family: 'intrepid-reg';
  src: url('/fonts/intrepid.ttf') format('truetype'),
      url('/fonts/intrepid.eot'),
      url('/fonts/intrepid.svg') format('svg');
}

body {
  background-color: #492542;
}

.circle {
  border-radius: 50%;
}

.avatar{
  margin: auto;
  transform: translateX(10px);
}
